/* * {
    box-shadow: inset 0px 0px 1px rgba(255, 0, 0, 0.5);
} */

.navegacao{
    background-color:  rgb(154, 172, 194);
}

.rodape{
    background-color:  rgb(25, 42, 63);
    color: white;
}
.nav-item{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.nav-item:hover{
    text-decoration: underline;
    color: white;
}
.espaco-fundo{
    margin-bottom: 60px;
}